@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 131rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header__body {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding: 6.3rem 0 4.8rem 0;
}

.header__logo {
    align-self: flex-start;
    font-size: 8rem;
    line-height: 120%;
    color: #000;
}

.header__logo span {
    color: #4BCAFF;;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35444F;
}

.header__menu-list {
    display: flex;
    
}

.header__menu-item {
    border-left: 1px solid #fff;
    color: #fff;
}

.header__menu-item:last-child {
    border-right: 1px solid #fff;
}

.header__menu-link {
    display: inline-block;
    padding: 2.1rem 3.2rem;
    font-size: 2.4rem;
    line-height: 120%;
    transition: background-color 0.3s;
}

.header__menu-link:hover {
    background-color: #222F3A;;
}

/* ==========Main============ */

.main__benefits {
    margin-bottom: 5.4rem;
}

.main__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 5.2rem;
}

.main__sidebar {
    flex: 1 0 34.4rem;
}

.main__menu {
    border: 1px solid #000;
}

.main__menu-link {
    display: block;
    padding: 2.6rem 4.2rem;
    font-size: 2.7rem;
    line-height: 100%;
    color: #495863;
    transition: all 0.3s;
}

.main__menu-link:hover {
    background-color: #DBDBDB;
    padding-left: 7.1rem;
    color: #000;
}

.main__banner {
    height: 52.9rem;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.7rem;
}

.main__banner img {
    transition: transform 0.8s;
}

.main__banner:hover img {
    transform: scale(1.1);
}

.main__text-item {
    font-size: 1.8rem;
    line-height: 133%;
    color: #2C2C2C;
}

.main__text-item:not(:last-child) {
    margin-bottom: 3.4rem;
}

/* =========Footer=========== */
.footer__body {
    margin-bottom: 3rem;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 6.9rem;
    padding: 0rem 4rem;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer__menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
}

.footer__menu-item {
    padding: 1.3rem 0rem;
    border-bottom: 1px solid transparent;
    color: #0C1927;
    transition: all 0.3s;
    cursor: pointer;
}

.footer__menu-item:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}

.footer-menu-link {
    display: inline-block;
    font-size: 2.8rem;
    line-height: 100%;
    
}

.copyright {
    font-size: 2.4rem;
    line-height: 100%;
    color: #010101;
}